*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style:none;
    text-align: center;
}

#container {
    display: flex;
    background-color: red;
    height: 50px;
    /* flex-direction: row; */
    justify-content: space-evenly;
    align-items: center;
}

a{
    color: black;
    font-weight: bolder;
}

ul li{
    width: 100px;
    display : inline;
    background-color: yellow;
}

#outerbox{
    display: flex;
    /* main axis alignment */
    justify-content: center;
    /* cross axis alignment */
    align-items: center;
    background-color: teal;
    height: 400px;
    width: 400px;
    z-index: -10;
}

#innerbox{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    height: 200px;
    width: 200px;
    /* align-self: flex-end; */
}

#container-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}